#about {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1.875em;
    background-color: #e3e2e2;
    overflow: hidden;
}

.about-motto {
    margin-bottom: 1.25em;
}

#section-about {
    padding-top: 9%;
}

.drivers {
    width: 75%;
    margin-bottom: 1.875em;
}

.drivers-box {
    position: relative;
    display: block;
    max-width: 40.625em;
    margin: 0 auto;
}

.drivers-box .drivers-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: #fdc539;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.drivers-box .drivers-box-caption .drivers-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.drivers-box .drivers-box-caption .drivers-box-caption-content
.drivers-box .drivers-box-caption .drivers-box-caption-content .driver-name {
    padding: 0 0.9375em;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.drivers-box .drivers-box-caption .drivers-box-caption-content {
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
}

.drivers-box .drivers-box-caption .drivers-box-caption-content .driver-name {
    font-size: 1.125em;
}

.drivers-box:hover .drivers-box-caption {
    opacity: 1;
}

.drivers-box:focus {
    outline: none;
}

.text-primary {
    color: #fdc539 !important;
}

@media (max-width: 990px) {
    #section-about {
        padding-top: 13%;
    }

    #driver-title {
        font-size: 3.125em;
    }

    #driver-subtitle {
        font-size: 1.875em;
    }
}

@media (max-width: 770px) {
    #section-about {
        padding-top: 18%;
    }

    #driver-title {
        font-size: 2.8125em;
    }

    #driver-subtitle {
        font-size: 1.25em;
    }
}

@media (max-width: 500px) {
    #section-about {
        padding-top: 24%;
    }
}

@media (min-width: 768px) {
    .drivers-box .drivers-box-caption .drivers-box-caption-content {
        font-size: 1em;
    }

    .drivers-box .drivers-box-caption .drivers-box-caption-content .driver-name {
        font-size: 1.375em;
    }
}