section.application {
    position: relative;
    padding: 9.375em 0;
}

section.application h2 {
    font-size: 3.125em;
    margin-top: 0;
}

section.application .badges .badge-link {
    display: block;
    margin-bottom: 1.5625em;
}

section.application .badges .badge-link:last-child {
    margin-bottom: 0;
}

section.application .badges .badge-link img {
    height: 3.75em; 
}

@media (max-width: 600px) {
	#application-title {
		font-size: 3.125em;
	}

	.badge-link > img{
		width: 10.625em; 
		height: auto;
	}
}

@media (max-width: 380px) {
	#application-title {
		font-size: 2.5em; 
	}
	
	.badge-link > img{
		width: 9.375em; 
		height: auto;
	}
}

@media (min-width: 768px) {
    section.application .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    section.application h2 {
        font-size: 4.375em;
    }
}
