#newsletter {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../../_img/bg-newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    overflow: hidden;
}

#newletter-form {
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    padding: 0.75em 2.5em;
    background-color: #fdc539;
}

@media (max-width: 990px) {
    .m0 {
        font-size: 1.25em;
    }

    #email {
        height: 2.1em;
    }

    .input-group {
        width: 75%;
        margin: 0 auto;
    }

    #newletter-form {
        padding-top: 0.5625em;
        padding-bottom: 0.5625em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 770px) {
    .m0 {
        font-size: 1em;
    }

    #email {
        font-size: 1.25em;
        height: 1.5em;
    }

    #newletter-form {
        padding-top: 0.1875em;
        padding-bottom: 0.1875em;
        padding-left: 2em;
        padding-right: 2em;
    }
}