#price {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: #e3e2e2;
}

#section-price {
    position: absolute;
    top: 12%;
    left: 8%;
}

#price-map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.price-calculator {
    position: absolute;
    top: 30%;
    right: 0%;
    width: 350px;
    height: 280px;
    z-index: 100;
    border: solid 1px black;
    background-color: #e3e2e2;
}

#calculator-title {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.form-from {
    margin-bottom: 10px
}

.form-calculate {
    margin-top: 30px;
}

.calculator-logo {
    font-size: 3rem;
    margin-top: 10px;
    color: white;
}

#calculate {
    width: 100px;
    float: right;
    font-size: 1.1rem;
    color: white;
    background-color: #fdc539;
}