#price {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: #e3e2e2;
}

#section-price {
    position: absolute;
    top: 12%;
    left: 8%;
}

#price-map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.price-calculator {
    position: absolute;
    top: 30%;
    right: 0%;
    width: 21.875em;
    height: 18em; 
    z-index: 100;
    border: solid 1px black;
    background-color: #e3e2e2;
}

#calculator-title {
    font-size: 1.5rem;
    margin-top: 1.25em;
    margin-bottom: 1.875em; 
    margin-left: 0.9375em;
}

.form-from {
    margin-bottom: 0.625em
}

.form-calculate {
    margin-top: 0.875em;
}

.calculator-logo {
    font-size: 3rem;
    margin-top: 0.625em; 
    color: white;
}

#calculate {
    width: 6.25em;
    float: right;
    font-size: 1.1rem;
    color: white;
    background-color: #fdc539;
}

@media (max-width: 1300px) {
	.price-calculator {
	    right: 20%;
	}
}

@media (max-width: 1200px) {
	.price-calculator {
		right: 15%;
		margin-top: 6.25em
	}
}