@import "../_fonts/font.css";

@import "header.css";
@import "navigation.css";
@import "connect.css";
@import "app_store_google_play.css";
@import "about.css";
@import "info.css";
@import "footer.css";

@import "boostrap.css";

body {
    position:relative;
    height:100%;
    font-family:UbuntuRegular, serif;
    font-weight:300;
}

h1,h2,h3,h4,h5,h6 {
    font-family:UbuntuRegular, serif;
}

h1 {
    font-family:UbuntuMedium, serif;
    font-size:3.5rem;
    color:#000;
}

h2 {
    color:#686666;
}

h3 {
    font-size:2.3rem;
    font-family:UbuntuLight, serif;
    color:#271507;
}

a{
    color: #ce9200;
}